* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 1.75rem 5.75rem 1.55rem 5.75rem;
  background-color: #faf9f7;
  color: #625d52;
  -webkit-font-smoothing: antialiased;
  font-family: Inter var, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
